<%-include("template/header")%>
    <%-include("template/side-bar")%>
    <%-include("template/nav-bar")%>
    <div class="dashboard-content px-3 pt-4 ">
        <div class="card">
            <div class="card-header">Datos Clientes</div>
            <div class="card-body">
                <div class="table-responsive">
                    
                    <table id="customer_data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>TELEFONO</th>
                                <th>CIUDAD</th>
                                <th>CALLE</th>
                                <th>NUMERO DE CASA</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
<%-include("template/footer")%>