<body>
<div class="main-container d-flex ">
    <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between ">
            <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2"><img class="logo" src="/img/logo.png" alt="logo"></span> <span class="text-white">MARQUÉZ</span></h1>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
                <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0zM2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
            </svg></button>
        </div>

        <ul class="list-unstyled px-2">
            <li class="active"><a href="/index" class="text-decoration-none px-3 py-3 d-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                </svg>Dashboard</a>
            </li>
            <li class=""><a href="/clientes" class="text-decoration-none px-3 py-3 d-block">Clientes</a></li>
            <li class=""><a href="/productos" class="text-decoration-none px-3 py-3 d-block">Productos</a></li>
            <li class=""><a href="/ventas" class="text-decoration-none px-3 py-3 d-block">Ventas</a></li>
            <li class=""><a href="/reportes1" class="text-decoration-none px-3 py-3 d-block">Reportes</a></li>
            <li class=""><a href="/graficas" class="text-decoration-none px-3 py-3 d-block">Graficas</a></li>
        </ul>
        <hr class="h-color mx-2">

        <ul class="list-unstyled">
            <li class=""><a href="" class="text-decoration-none px-3 py-3 d-block">Perfil</a></li>
            <li class=""><a href="" class="text-decoration-none px-3 py-3 d-block">Login</a></li>
        </ul>
    </div>